* {
    padding: 0px;
    margin:  0px;

    -moz-appearance: none !important;
}

pre,
p {
    margin:      5px;
    margin-top: 15px;
}

h3 {
    margin:      5px;
    margin-top: 10px;
}

code,
pre,
tt {
    font-size: 10.5pt;
}

pre {
    white-space: pre-wrap;
}

html {
    /*
    overflow-y: scroll;
    */

    padding-top:    0px;
    padding-left:   8px;
    padding-right:  8px;
    padding-bottom: 8px;
}

body {
    color:            #000;
    background-color: #888;
    background-image: url(bg.png);

    min-width: 420px;

    font-family: sans-serif;
    font-size: 10.5pt;

    margin:   0px;
    padding:  0px;
}

ul {
    padding-left: 2em;
    list-style-image: url(bullet.png);
}

ol {
    padding-left: 2.5em;
}

#the_sidebar a {
    display: block;
}

#the_sidebar {
    float: left;
    width: 76px;
    background: #666;
    height: 100%;
    margin-right: 10px;
    display: block;
}

#the_wrapper {
    float: left;
    width: 100%;
}

#the_header h1 {
    display: inline-block;
    padding-left: 0.5em;
    padding-bottom: 4px;
}

#the_navbar {
    text-align: left;
    padding-bottom: 0px;
    display: inline-block;
    padding-left: 0px;

    margin-bottom: 0px;

    vertical-align: bottom;
}

#the_navbar * {
    height: 16px;
    padding-top:    4px;
    padding-bottom: 4px;

    display: inline-block;
}

#the_navbar .tab {
    font-weight: bold;
    text-decoration: none;
    color: #aaa;

    padding-left:  12px;
    padding-right: 12px;

    margin-bottom: 0px;
    margin-top: 0px;

    margin-left:   0px;
    margin-right: 10px;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.50);

    border-left:  1px solid transparent;
    border-right: 1px solid transparent;

    vertical-align: bottom;

    -webkit-transition-property: background-color, color, border-color;
       -moz-transition-property: background-color, color, border-color;
         -o-transition-property: background-color, color, border-color;
            transition-property: background-color, color, border-color;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
}

#the_navbar .tab.active,
#the_navbar .tab.active:hover {
    color: #fff;
    background: #999;
    border-color: #555;
}

#the_navbar .tab:hover {
    color: #fff;
    background: #777;
    border-color: #555;
}

#the_navbar .tab:focus {
    outline: 3px solid rgba(224, 128, 32, 0.40);
}

#the_header {
    padding-top: 0px;
}

h1,
h2,
h1 *,
h2 *,
.label {
    text-align: center;
    font-size: 30pt;

    padding-top:     0px;
    padding-bottom:  0px;
}

h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
    color: #666;

    font-weight: bold;

    text-decoration: none;

    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.50);
}

h1,
h1 * {
    color: #888;
}

h3 {
    font-size: 11pt;
}

h2,
.label {
    text-align: left;
    font-size: 14pt;

    padding: 0px;
    margin-top: 15px;
}

.textarea {
    color:            #222;
    background:       #ffffff;

    border-width: 1px;
    border-style: solid;
    border-top-color:    rgba(0, 0, 0, 0.25);
    border-left-color:   rgba(0, 0, 0, 0.30);
    border-right-color:  rgba(0, 0, 0, 0.30);
    border-bottom-color: rgba(0, 0, 0, 0.40);

    font-family: "Mono", monospace;
    font-size: 10pt;

    padding: 6px;

    margin: 0px !important;
    margin-top: 10px !important;

            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;

    border-radius: 0px !important;

    outline: 0px solid transparent;

    -webkit-transition-property: background-color, border-color;
       -moz-transition-property: background-color, border-color;
         -o-transition-property: background-color, border-color;
            transition-property: background-color, border-color;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;

    /* Resize grips conflict with my internal resizing.
     * Easier to just delete them.
     */
    resize: none;
}

.textarea:disabled {
    background: #f4f4f4;
    color: #888;
    border-top-color:    rgba(0, 0, 0, 0.15);
    border-left-color:   rgba(0, 0, 0, 0.20);
    border-right-color:  rgba(0, 0, 0, 0.20);
    border-bottom-color: rgba(0, 0, 0, 0.30);
}

.textarea a {
    color: #3465a4;
}

.notification { background: #fda; }
.warning      { background: #ffa; }
.error        { background: #faa; }

.textarea:focus {
    outline: 0px solid transparent;
    border-color: #aaa;
}

#the_stack {
    display: none;
    overflow: auto;
    white-space: pre-wrap;
    max-height: 10em;
}

h3 code {
    color: #444;
}

.button {
    font-weight: bold;
    padding-left:  20px;
    padding-right: 20px;
    padding-top:    4px;
    padding-bottom: 4px;

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    background-color: #ada;

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.10)), to(rgba(0, 0, 0, 0.10)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10));
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10));
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10));
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10));
    background-image:         linear-gradient(to bottom, rgba(255, 255, 255, 0.10), rgba(0, 0, 0, 0.10));

    border-bottom-color: rgba(0, 0, 0, 0.40);
    border-top-color:    rgba(0, 0, 0, 0.10);
    border-left-color:   rgba(0, 0, 0, 0.20);
    border-right-color:  rgba(0, 0, 0, 0.20);

    -webkit-box-shadow: inset 0px 2px 0px -1px rgba(255, 255, 255, 0.30), 0px 2px 2px  0px rgba(0, 0, 0, 0.10);
       -moz-box-shadow: inset 0px 2px 0px -1px rgba(255, 255, 255, 0.30), 0px 2px 2px  0px rgba(0, 0, 0, 0.10);
            box-shadow: inset 0px 2px 0px -1px rgba(255, 255, 255, 0.30), 0px 2px 2px  0px rgba(0, 0, 0, 0.10);

    font-size: 11pt;

    margin: 0px !important;
    margin-top: 10px !important;

            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;

    text-decoration: none;

    color: #222;

    outline: 0px solid transparent;

    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.50);

    border-radius: 0px !important;

    margin-right: 8px !important;

    -webkit-transition-property: background-color, border, box-shadow;
       -moz-transition-property: background-color, border, box-shadow;
         -o-transition-property: background-color, border, box-shadow;
            transition-property: background-color, border, box-shadow;
    -webkit-transition-duration: 0.15s;
       -moz-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
}

.button:hover {
}

.button:focus {
    outline-width: 3px;
    outline-color: rgba(224, 128, 32, 0.40);
}

.textarea:focus {
            box-shadow: 0px 0px 0px 3px rgba(224, 128, 32, 0.40);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(224, 128, 32, 0.40);
       -moz-box-shadow: 0px 0px 0px 3px rgba(224, 128, 32, 0.40);
}

.button:disabled,
.button:disabled:hover {
    background: #ddd !important;
    color:      #aaa !important;
    border-color: #cfcfcf !important;

    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1.00);

            box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.20);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.20);
       -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.20);

    cursor: default;
}

#the_run_button    { background-color: #ada; }
#the_stop_button   { background-color: #faa; }
#the_submit_button { background-color: #bbf; }
#the_clear_button  { background-color: #fbf; }

#the_run_button:hover    { background-color: #beb; }
#the_stop_button:hover   { background-color: #fbb; }
#the_submit_button:hover { background-color: #ccf; }
#the_clear_button:hover  { background-color: #fcf; }

#the_header,
#the_bg {
    border: 0px solid #777;

    border-width: 1px;
    border-top-width: 0px;

    max-width: 1024px;
    margin-left:  auto;
    margin-right: auto;

    padding-left:  10px;
    padding-right: 10px;
}

#the_bg {
    background: #ddd;

    padding-top:    0px;
    padding-bottom: 4px;

    border-bottom-left-radius:  0px;
    border-bottom-right-radius: 0px;

            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}

#the_header {
    border-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #555;
    padding-top: 0px;
    margin-left:  -11px;
    margin-right: -11px;
    background: #666;

    border-left:  1px solid #555;
    border-right: 1px solid #555;
}

#the_workspace {
}

.toolbar {
    text-align: center;
    margin-top: 8px;
}

.toolbar * {
    display: inline-block;
}

.toolbar .separator {
    margin:        0px;
    margin-left:  16px;
    margin-right: 16px;
}

.toolbar .group {
}

#the_code,
#the_term {
    width: 100%;
}

#the_code,
#the_term {
    width:  100%;
    height: 15em;
}

#the_input {
    min-height: 24px;
    margin-top: 10px !important;
    width: 100%;
}

#the_term,
#the_code {
    /* white-space: nowrap; */
}

*:focus {
}

#the_text {
    max-width: 1024px;

    font-size: 12pt;

    margin: auto;

            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
}

#the_text h2,
#the_text h3 {
    margin-left: 3px;
}

.footer *,
.footer {
    text-align: center;

    margin-top:    10px;
    margin-bottom: 10px;

    clear: left;

    font-weight: bold;
    font-size:   12px;

    color: #666;

    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.50);
}

.footer * {
    margin-left:  auto;
    margin-right: auto;
}

h2 .resize_container,
h2 .resize_container * {
    font-size: 9.5pt;
    margin-left: 1em;
}

.resizer {
    margin-right: 1em;
    background: transparent;
    text-decoration: none;

    padding: 2px;
    padding-left:  4px;
    padding-right: 4px;
    border-radius: 4px;

    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
    -webkit-transition-duration: 0.25s;
       -moz-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

.resizer:hover {
    cursor: pointer;

    background: rgba(0, 0, 0, 0.10);
}

table.invisible * {
    margin-left:  12px;
    margin-right: 12px;

    padding:       2px;
    padding-left:  0px;
    padding-right: 0px;
}

table.invisible th {
    text-align: right;
}

#the_copyright {
}

#the_copyright a {
    text-decoration: none;
    color: #3465a4;

    padding: 2px;
    padding-left:  4px;
    padding-right: 4px;
    border-radius: 4px;

    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
    -webkit-transition-duration: 0.25s;
       -moz-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

#the_copyright a:hover {
    background: rgba(0, 0, 0, 0.10);
}

@media screen and (max-width: 400px) {
#the_bg {
}
}
