* {
    padding: 0px;
    margin:  0px;

    -moz-appearance: none !important;
}

p {
    margin:      5px;
    margin-top: 20px;
}

html,
body {
}

body {
    color:      #000;
    background: #333;
    background: url(bg.png);

    font-family: sans-serif;
    font-size: 10.5pt;


    margin:   0px;
    padding: 20px;
}

#the_navbar {
    text-align: center;
}

h1,
h1 *,
h2,
.label {
    text-align: center;
    font-size: 30pt;
    color: #888;

    padding-top:     0px;
    padding-bottom: 20px;

    text-decoration: none;

    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

h2,
.label {
    text-align: left;
    font-size: 14pt;

    padding: 0px;
    margin-top: 20px;
}

#the_code,
#the_input,
#the_term {
    color:            #eee;
    background:       #181818;

    border: 0px solid #222;
    border-left-width:  6px;
    border-right-width: 6px;

    font-family: "Mono", monospace;
    font-size: 10pt;

    padding: 9px;

    margin: 0px !important;
    margin-top: 10px !important;

    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;

    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.05);
}

#the_code:hover,
#the_input:hover,
#the_term:hover {
    border-color: #282828;
}

#the_code:focus,
#the_input:focus,
#the_term:focus {
    outline: 0px solid transparent;
}

.button {
    font-weight: bold;
    padding-left:  20px;
    padding-right: 20px;
    padding-top:    4px;
    padding-bottom: 4px;

    border-width: 0px;
    border-style: solid;
    background:   #888;
    border-color: #666;
    border-bottom-width: 4px;

    font-size: 11pt;

    margin: 2px !important;
    margin-top: 10px !important;

    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;

    text-decoration: none;

    color: #222;

    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);

    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}

.button:hover {
    background:   #999;
    border-color: #666;
}

#the_workspace {
    width: 100%;
    max-width: 640px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.toolbar {
    text-align: left;
}

.toolbar .separator {
    margin:        0px;
    margin-left:  16px;
    margin-right: 16px;
}

#the_code,
#the_input,
#the_term {
    width: 100%;
}

#the_code,
#the_term {
    width:  100%;
    height: 240px;
}

#the_input {
    min-height: 24px;
    margin-top: 10px !important;
}

#the_term,
#the_code {
    white-space: nowrap;
}

#the_submit {
}

*:focus {
}

#the_text {
    color:            #111;
    background:       #ccc;

    border: 0px solid rgba(0, 0, 0, 0.25);
    border-left-width:  6px;
    border-right-width: 6px;

    max-width: 1024px;

    font-size: 12pt;

    padding:     9px;
    padding-top: 1px;

    margin: auto;
    margin-top: 40px;

    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;

    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}

#the_text h2 {
    color: #333;
    text-shadow: none;
    margin-left: 3px;
}

#the_footer {
    margin-top: 20px;
    text-align: center;

    font-weight: bold;
    font-size:   12px;

    color: #888;

    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.50);
}
