body *::-webkit-scrollbar {
    width:  8px;
    height: 8px;

    border-width: 0px;
}

body *::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-track {
    margin:       0px;
    padding:      0px;
    border-width: 0px;
}


body *::-webkit-scrollbar-corner {
    background: transparent;
}

body *::-webkit-scrollbar-thumb {
    border-width: 0px;

    border-style: solid;

    border-color: #181818;
    background:   #444444;
}

body *::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

body *::-webkit-scrollbar-track:horizontal,
body *::-webkit-scrollbar-track:vertical {
    background: transparent;
}

body *::-webkit-scrollbar-thumb:vertical {
}

body *::-webkit-scrollbar-thumb:horizontal {
}
