body *::-webkit-scrollbar {
    width:  12px;
    height: 12px;

    border-width: 0px;
}

body *::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-track {
    margin:       0px;
    padding:      0px;
    border-width: 0px;
}


body *::-webkit-scrollbar-corner {
    background: transparent;
}

body *::-webkit-scrollbar-thumb {
    border-width: 0px;

    border-style: solid;

    border-color: #ffffff;
    background:   rgba(0, 0, 0, 0.45);

    min-height: 30px;
}

body *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}

body *::-webkit-scrollbar-track:horizontal,
body *::-webkit-scrollbar-track:vertical {
    background: transparent;
}

body *::-webkit-scrollbar-thumb:vertical {
    border-radius: 6px 0px 0px 6px;
}

body *::-webkit-scrollbar-thumb:horizontal {
    border-radius: 6px 6px 0px 0px;
}
